:root{
  --secondaryColor:rgb(150,127,188);
  --white:#fff;
  --primaryColor:#080c90;
  --BgColor:#031a30;
  --primaryHover:#7eadfc;
}

.form{
  width: 100%;
  justify-content: center;
  margin: auto;
}


h3{
  text-align: center;
  color: var(--secondaryColor);
}

form{
  width: 100%;
  text-align: center;


  input, textarea{
    height: 1rem;
    width: 90%;
    padding: 1.5rem .5rem;
    border-radius: 10px;
    background: none;
    border: 1px solid var(--white);
    margin: .5rem 0;
    outline: none;
    color: var(--white);
    font-weight: 600;

    &::placeholder{
      color: var(--white);
    }
  }

  textarea{
    height: 150px;
  }

  .formBtn{
    display: block;
    margin: auto;
    width: 90%;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 18px;
    padding: 1rem 0;
    background: transparent;
    color: white;
    font-weight: 600;
    cursor: pointer;

    &:hover{
      background: var(--primaryHover);
    }
  }

}


