@import 'bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition:  .3s ease;
  font-family: "Aref Ruqaa Ink", serif;
}

:root{
  --primaryHover:hsl(245, 85%, 26%);
  --BgColor:#031a30;
  --spanColor:#7eadfc;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}



.flex{
  display: flex;
  align-content: center;
}

.grid{
  display: grid;
  align-content: center;
}


input , textarea{
  font-size: 100%;
}

.section{
  padding:7rem 0 ;
}

.container{
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.icon{
  font-size: 40px ;
  cursor: pointer;
  gap: 1rem;
}
.icon:hover{
  color:var(--spanColor) ;

}

span{
  color:var(--spanColor) ;
}

body{
  background: var(--BgColor);
  color: white;
}

::selection{
  background-color: var(--BgColor);
  color: white;
}

::-webkit-scrollbar{
  width: 1px;
  background: var(--BgColor);
}

::-webkit-scrollbar-thumb{
  background: var(--primaryHover);
  border-radius: 2px;
}

@media screen and (min-width :769px) {
  .container{
    width: 70%;
    margin: auto;
  }
}


@media screen and (min-width :960px) {
  .section{
    padding: 5rem 0 4rem;
  }
}


@media screen and (min-width :1240px) {
  .section{
    padding: 6rem 0 4rem !important;
  }
  .container{
    width: 70%;
    margin: auto;
  }
}


